<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div>t ad
    <input type="hidden" name="studentId" th:value="1" />
    <div class="flex justify-center font-bold text-4xl mt-4">Registration</div>
    <div class="flex justify-center mt-6">
        <table class="border border-blue-700 w-5/6 ">
            <thead class="text-base uppercase bg-blue-600 text-white">
            <tr>
                <th class="px-6 py-3 border border-blue-300">Subject ID</th>
                <th class="px-6 py-3 border border-blue-300">Subject Name</th>
                <th class="px-6 py-3 border border-blue-300">Action</th>
            </tr>
            <tbody>
            <tr th:each="subject:${subjects}">
                <form id="form-registration" method="post" th:action="@{/registrations/register/{studentId}(studentId=${studentId})}">
                    <input type="hidden" name="studentId" value="1"/>
                    <input type="hidden" name="subjectId" th:value="${subject.id}"/>
                    <td class="py-4 border border-blue-300 text-center" th:text="${subject.id}">
                        <!-- Subject ID -->
                    </td>
                    <td class="px-6 py-4 border border-blue-300" th:text="${subject.name}">
                        <!-- Subject Name -->
                    </td>
                    <td class="px-2 py-4 border border-blue-300 text-center">
                        <button type="submit" class="bg-green-500 p-2 rounded-md text-white mr-6 py-2 px-4 hover:underline">Register</button>
                    </td>
                </form>
            </tr>
            </tbody>
            </thead>
        </table>
    </div>
    <div class="text-center font-bold text-4xl mt-10">Registered subject</div>
    <div class="flex justify-center mt-6 mb-6">
        <table class="border border-blue-700 w-5/6">
            <thead class="bg-blue-600 text-white test-base uppercase">
            <tr>
                <th class="px-6 py-3 border border-blue-300">Record ID</th>
                <th class="px-6 py-3 border border-blue-300">Subject ID</th>
                <th class="px-6 py-3 border border-blue-300">Subject Name</th>
                <th class="px-6 py-3 border border-blue-300">Result</th>
                <th class="px-6 py-3 border border-blue-300">Note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject, iterStat: ${registeredSubjects}">
                <td class="px-6 py-3 text-center border border-blue-300" th:text="${iterStat.index + 1}"></td>
                <td class="px-6 py-3 text-center border border-blue-300" th:text="${subject[0]}"></td> <!-- Subject ID -->
                <td class="px-6 py-3 border border-blue-300" th:text="${subject[1]}"></td> <!-- Subject Name -->
                <td class="px-6 py-3 border border-blue-300" th:text="${subject[2]}"></td> <!-- Result -->
                <td class="px-6 py-3 border border-blue-300" th:text="${subject[3]}"></td> <!-- Notes -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>